#cover {
  position: relative;
}

.responsive-img {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  object-fit: cover;
}

.jumbotron{
  position: absolute;
  top: 70px;
  /* left: 0; */
  margin: 0;
  border-radius: 0;
  /* opacity: .2; */
  width: 100vw;
  height: 175px;
  background: transparent;
  color: #fff;
  padding: 0;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background: transparent;
  align-items: center;
}

.text-center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  letter-spacing: 1px;
}

.btn {
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  border-radius: 6px 0;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.footer {
  bottom: 0;
  position: fixed;
  right: 0;
  color: #fff;
}

a {
  color: #fff
}

.nav-link {
  color: #fff;
}

.uppercase {
  text-transform: uppercase;
}

.form-wrapper {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: absolute;
  top: 100px;
  /* margin-left: auto; */
  /* margin-right: auto; */
  padding: 50px;
  background: rgba(0,0,0, .6);
  height: fit-content;
}

.row {
  width: 40%;
  min-width: 310px;
}

.panel-heading {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

h4, label, h1, .nav, .text-center, .btn, .footer {
  font-weight: 100
}

.submit{
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.form-control {
  border: none;
  border-bottom: 2px solid #ced4da;
  border-radius: 10px;
  background-color: transparent
}